<launch>

	<arg name="px_x" value="dbg" />
	<arg name="is_sim" value="false" />
	<arg name="mode" value="auto" />	<!-- "auto"; "manual" -->

	<node pkg="ur5e_control" type="ur5e_controller" name="ur5e_controller_node" >
		<param name="sim" value="$(arg is_sim)"/>	
	</node>
	<node pkg="surgery_sim" type="data_logger" name="data_logger" output="screen" >
		<param name="test_no" value="$(arg px_x)"/>
	</node>
	<node pkg="surgery_sim" type="plan_listener" name="plan_listener" output="screen" >
		<param name="plan_type" value="planner"/>
		<param name="start_mode" value="$(arg mode)"/>
		<param name="cut_depth" value="-0.005"/>
	</node>
	<node pkg="surgery_sim" type="pedal_controller" name="pedal_controller" />
	<node pkg="surgery_sim" type="point_counter" name="point_counter" output="screen" >
		<param name="sim" value="$(arg is_sim)"/>
	</node>
	<node pkg="surgery_sim" type="task_space_traj_reset" name="task_space_traj_node" output="screen" >
		<param name="sim" value="$(arg is_sim)"/>
	</node>
	<node pkg="surgery_sim" type="frame_tf_broadcaster" name="frame_broadcast_node" />
	<node pkg="surgery_sim" type="listener" name="listener_node" >
		<param name="move_scale" value="0.5"/>
	</node>
	<node pkg="surgery_sim" type="switch_node" name="switch_node" output="screen" >
		<param name="sim" value="$(arg is_sim)"/>
		<param name="start_mode" value="$(arg mode)"/>
	</node>
	<node pkg="surgery_sim" type="overlay_broadcast" name="overlay_broadcast" />
	<node pkg="surgery_sim" type="user_overlay" name="user_overlay" >
		<param name="source" value="plan"/>
		<param name="mode" value="crop_resize"/>
		<param name="sim" value="$(arg is_sim)"/>
		<param name="dbg" value="true"/>
		<param name="start_mode" value="$(arg mode)"/>
	</node>
	<node pkg="surgery_sim" type="record_bag.sh" name="record_bag" output="screen" args="$(arg px_x)" />
	<!--node pkg="surgery_sim" type="density_calc" name="density_calc" /-->
	<node pkg="surgery_sim" type="projected_error" name="projected_error" output="screen" >
		<param name="start_mode" value="$(arg mode)"/>
		<param name="with_cost" value="true"/>
		<param name="man_cost" value="3.59"/>	<!-- 3.59 actual; ~10 for pure auto -->
	</node>

</launch>

<!-- 

source options - "click"; "plan"; "path"
mode options - "resize"; "crop"; "crop_resize"; "full"
plan_type options - "coded"; "clicked"; "planner"; "model"
move_scale options - any float not greater an 3.0

roslaunch ur_robot_driver ur5e_bringup.launch robot_ip:=192.168.56.101
roslaunch ros_tcp_endpoint endpoint.launch tcp_ip:=192.168.56.20 tcp_port:=10000

rosrun rviz rviz -d ~/temo/catkin_ws/src/surgical_path_planning/rviz/devel_config.rviz
roslaunch surgical_path_planning path_planning.launch

-->
