<launch>

	<node pkg="ur5e_control" type="ur5e_controller" name="ur5e_controller_node" />
	<node pkg="surgery_sim" type="data_logger" name="data_logger" output="screen" >
		<param name="test_no" value="dbg_dbg"/>
	</node>
	<node pkg="surgery_sim" type="plan_listener" name="plan_listener" >
		<param name="plan_type" value="model_ew"/>
	</node>
	<node pkg="surgery_sim" type="pedal_controller" name="pedal_controller" />
	<node pkg="surgery_sim" type="point_counter" name="point_counter" />
	<node pkg="surgery_sim" type="task_space_traj_reset" name="task_space_traj_node" />
	<node pkg="surgery_sim" type="frame_tf_broadcaster" name="frame_broadcast_node" />
	<node pkg="surgery_sim" type="listener" name="listener_node" >
		<param name="move_scale" value="0.5"/>
	</node>
	<node pkg="surgery_sim" type="switch_node" name="switch_node" output="screen" />
	<node pkg="surgery_sim" type="overlay_broadcast" name="overlay_broadcast" />
	<node pkg="surgery_sim" type="sim_user_overlay" name="sim_user_overlay" >
		<param name="source" value="plan"/>
		<param name="mode" value="crop"/>
	</node>

</launch>

<!-- 

source options - "click"; "plan"; "path"
mode options - "resize"; "resize_crop"; "crop"; "full"
plan_type options - "coded"; "clicked"; "planner"; "model_ew"; "model_ns"; "train"
move_scale options - any float not greater an 3.0
<node pkg="surgery_sim" type="data_logger" name="data_logger" >
		<param name="test_no" value="1"/>
	</node>

-->
